<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User profile</title>
</head>
<body>
    <div class="page">
        <div class="container">
            <h1>Welcome to your profile</h1>
            <p>Email: <%= user.email %></p>
    <h2>Images:</h2>
    <ul>
        <% user.images.forEach((image) => { %>
            <li><%= image %></li>
        <% }); %>
    </ul>
    <h2>Videos:</h2>
    <ul>
        <% user.videos.forEach((video) => { %>
            <li><%= video %></li>
        <% }); %>
    </ul>

        </div>

    </div>
    
</body>
</html>